#-----------------
#-----------------
# ignore files
#-----------------
#-----------------

# ignore itself
#.gitignore

#-----------------
# .log
*.log

#-----------------
# .slog
*.slog

#-----------------
# .erlog
.erlog

#-----------------
# .s
*.s

#-----------------
# .u
*.u

#-----------------
# .cb
*.cb

#-----------------
# .cbg
*.cbg

#-----------------
